/* reset the margin and border on insight page */
/* .main-post-contents {
  margin-bottom: unset;
  border-bottom: none;
} */

/* about the author */

.about-the-author {
  background-color: var(--btn-other-colors);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

.about-the-author-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--primary-40);
  gap: 132px;
}
.about-the-author-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.about-the-author-text {
  width: 60%;
  padding: 16px;
  margin-left: 32px;
}

.about-the-author-text h4 {
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  padding: 12px 0;
}
.about-the-author-text h5 {
  font-weight: var(--font-weight-medium);
}

.about-the-author-text .socials {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}
.about-the-author-text .socials span {
  width: 32px;
  height: 32px;
  background-color: var(--primary-40);
}
/* related pages */
.related-topic {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 60px auto;
}

/* .related-topic a {
  width: 380px;
  height: 320px;
  background-color: #000;
} */

/* comments section  */
.comments {
  display: block;
  width: 80%;
  /* border: 1px solid red; */
  margin: 20px auto;
}
.comments h5 {
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid black;
}

.comments .output-comments {
  border-left: 2px solid black;
  padding: 10px;
  margin: 12px 0;
}

.comments .line-div {
  border-bottom: 1px solid black;
  margin-top: 16px;
}

.comments .comments-inputs textarea {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px solid black;
  /* border-radius: 100px; */
  background-color: transparent;
  appearance: none;
  outline: none; /* Remove the default focus outline */
  resize: none;
}

.comments .comments-inputs textarea::placeholder {
  /* Center the placeholder text vertically */
  line-height: 2; /* Adjust the line-height as needed */
}

.comments .comments-inputs textarea:focus {
  /* Remove the focus state styles */
  /* border: 1px solid black; */
  background-color: transparent;
}

#cbtn {
  font-size: 12px;
  padding: 4px 16px;
  margin: 12px 0;
  background-color: var(--btn-main-color);
  color: var(--primary-40);
  border: none;
}
