/* hero section */

:root {
  /* margin space */

  --s-gap: 16px;
  --sm-gap: 18px;
  --m-gap: 24px;
  --l-gap: 28px;
  /* font */

  --main-fonts: "Poppins", sans-serif;
  --font-weight-thin: 100;
  --font-weight-thin-i: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  /* max-width */

  --max-width: 1120px;

  /* color */

  --primary-40: #000;
  --secodary: #dedede;
  --third: #d97200;
  --third-variant: rgba(217, 114, 0, 0.6);
}

/* #########section-one################ */

.section-one {
  width: 80%;
  max-width: var(--max-width);
  margin: auto;

  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
}

.filter {
  border: 1px solid rgb(35, 252, 50);
  /* order: 1; */
}
.filter-1 {
  display: none;
}

#search-form {
  display: none;
}
/* news letter */

.newsletter-container {
  width: 400px;
  height: 120px;
  background-color: var(--third);
  padding: 8px;
  /* add this */
  margin: 32px auto;
}

.newsletter-container h5 {
  padding: 0px 8px;
  margin-top: 12px;
  font-size: 12px;
  margin: 8px 0;
  text-align: center;
}

#news-letter {
  /* height: 350px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 10px 0px;
}

#news-letter #newsLetter-email {
  width: 100%;
  border: none;
  padding: 4px;
  font-size: 16px;
}

#news-letter #newsLetter-email::placeholder {
  font-size: 12px;
  opacity: 0.4;
}

#news-letter #newsLetter-send-btn {
  width: 100%;
  border: none;
  margin: 0px 0px 10px 0px;
  background-color: #000;
  font-size: 12px;
  color: white;
  padding: 4px;
}

.main-post-container {
  border: 1px solid blue;
  width: 90%;
  order: -1;
  padding: 16px;
  margin: auto;
}

/* .main-post-container h4 {

} */

.main-post-banner {
  border: 1px solid greenyellow;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 12px;
  margin-bottom: 12px;
}

.main-post-banner i {
  font-size: 40px;
  color: black;
}
/* .p-holder-for-pic {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
} */

.main-post-banner-details h4 {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
}
.main-top-details {
  font-size: 12px;
  font-weight: var(--font-weight-light);
  display: flex;
  /* gap: 32px; */
  gap: 18px;
}

/* main img */
.main-block-image {
  width: 100%;
  height: 250px;
  margin: 12px 0;
  /* display: none; */
}

.main-block-image img {
  width: 100%;
  height: 100%;
  background-color: #000;
  /* display: none; */
}

.tag {
  font-size: 12px;
  display: flex;
  gap: 8px;
  margin: 12px 0;
}
.tag span {
  padding: 4px;
  background-color: black;
  color: #dedede;
}
.main-post-text {
  margin-bottom: 12px;
}

.main-post-text p {
  font-size: 12px;
}

/* btn */

.main-btn-and-icon {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-read-more-btn {
  font-size: 12px;
  padding: 4px 8px;
  background-color: #000;
  color: #dedede;
}

.likes-view-comments-number i,
.likes-view-comments-number a {
  font-size: 12px;
  color: #000;
}

.likes-view-comments-number i {
  margin-right: 8px;
}

@media only screen and (min-width: 760px) {
  .section-one {
    width: 80%;
    flex-direction: row;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  /* left side */

  .filter {
    margin-right: 32px;
    font-weight: var(--font-weight-light);
  }

  .filter-1 {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
  }

  .filter-1 span {
    padding: 4px 8px;
  }
  #search-form {
    display: block;
    margin: 16px 0;
  }
  #search-form input[type="search"] {
    outline: 0;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 4px 16px;
    opacity: 0.2;
    font-size: 12px;
    /* background-color: rgb(202, 202, 202); */
  }

  #search-form input[type="search"]:focus {
    outline: 0;
    border: 1px solid grey;
    opacity: 0.5;
  }

  /* news letter */

  .newsletter-container {
    width: 200px;
  }

  /* #news-letter {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }

  #news-letter #newsLetter-email {
    width: 100%;
    border: none;
    padding: 4px;
    font-size: 16px;
  }

  #news-letter #newsLetter-email::placeholder {
    font-size: 12px;
    opacity: 0.4;
  }

  #news-letter #newsLetter-send-btn {
    width: 100%;
    border: none;
    margin: 0px 0px 10px 0px;
    background-color: #000;
    font-size: 12px;
    color: white;
    padding: 4px;
  } */

  /* right side */
  .main-post-container {
    order: unset;
  }

  .main-post-container {
    width: 50%;
    order: unset;
    margin: unset;
    margin-left: auto;
  }

  .main-post-banner-details h4 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
  }

  .main-top-details {
    gap: 32px;
    /* gap: 18px; */
  }

  /* main img */
  .main-block-image {
    width: 100%;
    height: 280px;
  }

  .main-post-text p {
    font-size: 16px;
    font-weight: var(--font-weight-light);
  }

  .main-read-more-btn {
    font-size: 12px;
    padding: 8px 16px;
  }
  .likes-view-comments-number i,
  .likes-view-comments-number a {
    font-size: 16px;
  }
}
