@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");

/* root */

:root {
  /* margin space */

  --s-gap: 16px;
  --sm-gap: 18px;
  --m-gap: 24px;
  --l-gap: 28px;
  /* font */

  --main-fonts: "Poppins", sans-serif;
  --font-weight-thin: 100;
  --font-weight-thin-i: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  /* max-width */

  --max-width: 1120px;

  /* color */

  --primary-40: #000;
  --secodary: #dedede;
  --third: #d97200;
  --third-variant: rgba(217, 114, 0, 0.6);
}

a {
  text-decoration: none;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-fonts);
  font-weight: var(--font-weight-light);
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
