<footer>
    <!-- <nav></nav> <a href="#">Home</a>
    <a href="#">Blog</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    </nav> -->
    <p>&copy; 2024 Your Website Name</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>