<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/04ff34b4a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <header>
        <div class="header-container">
            <div class="logo">
                <p>logo</p>
            </div>
            <nav class="nav">
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
            <div>
                <!-- <input type="text" placeholder="Search"> -->
            </div>
        </div>
    </header>