<%- include('./partials/header'); %>
    <!-- <div class="login" enctype="multipart/form-data">
        <h2>login</h2>
        <form id="loginForm">

            <label for="username">Email:</label>
            <input type="email" id="userEmail" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="userPassword" name="password" required>

            <button id="loginBtn" type="submit">login</button>
            <div class="message"></div>
        </form> -->


    <%- include('./partials/footer'); %>
        <!-- <script src="../js/login.js"></script> -->